
$radikal-ultrathin:'Radikal W01 UltraThin';
$radikal-ultrathin-italic:'Radikal W01 UltraThin Italic';
$radikal-ultrathin--:'Radikal W01 Thin';
font-family:'Radikal W01 Thin Italic';
font-family:'Radikal W01 Light';
font-family:'Radikal W01 Light Italic';
font-family:'Radikal W01 Regular';
font-family:'Radikal W01 Italic';
font-family:'Radikal W01 Medium';
font-family:'Radikal W01 Medium Italic';
font-family:'Radikal W01 Bold';
font-family:'Radikal W01 Bold Italic';
font-family:'Radikal W01 Black';
font-family:'Radikal W01 Black Italic';
